<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="vader_cutter">

  <!-- imports -->
  <xacro:include filename="$(find xarm_description)/urdf/vader/vader_cutter.urdf.xacro" />
  <xacro:include filename="$(find xarm_description)/urdf/vader/vader_cutter.transmission.xacro" />
  <xacro:include filename="$(find xarm_description)/urdf/vader/vader_cutter.gazebo.xacro" />

  <xacro:macro name="vader_cutter_macro" params="prefix:='' attach_to:='' robot_type:='xarm' mesh_suffix:='stl' hard_interface:='' ">

    <!-- Load Common Material -->
    <xacro:include filename="$(find xarm_description)/urdf/_private_macro.xacro" />
    <xacro:device_macro_begin />

    <!-- Load Common Material -->
    <xacro:include filename="$(find xarm_description)/urdf/common/common.material.xacro" />
    <xacro:common_material prefix="${prefix}vc"/>

    <xacro:property name="mesh_path" value="package://xarm_description/meshes" scope="parent"/>

    <!-- include common.link.xacro -->
    <xacro:include filename="$(find xarm_description)/urdf/common/common.link.xacro" />

    <!-- Load Cutter Model URDF -->
    <xacro:include filename="$(find xarm_description)/urdf/vader/vader_cutter.urdf.xacro" />
    <xacro:vader_cutter_urdf prefix="${prefix}" attach_to="${attach_to}"/>

    <!-- Sim items -->
    <xacro:vader_cutter_transmission prefix="${prefix}" hard_interface="${hard_interface}" />

    <xacro:vader_cutter_gazebo prefix="${prefix}" />

    <xacro:vader_cutter_grasp_fix prefix="${prefix}" palm_link="${prefix}link${dof}" />

    <xacro:mimic_joint_plugin_gazebo name_prefix="vader_cutter_fing_1_mimic"
      following_joint="thumb_joint" mimic_joint="fing_1_joint"
      has_pid="false" multiplier="1.0" max_effort="10.0" />

    <xacro:mimic_joint_plugin_gazebo name_prefix="vader_cutter_fing_2_mimic"
      following_joint="thumb_joint" mimic_joint="fing_2_joint"
      has_pid="false" multiplier="1.0" max_effort="10.0" />
  </xacro:macro>
</robot>