<launch>
    <arg name="sim_pepper_pose" default="0.0 0.0 0.0 0.0 0.0 0.0"/>
    <arg name="fruit_shape" default="0.08 0.035"/>
    <arg name="peduncle_shape" default="0.03 0.002"/>
    <arg name="xyz_noise_coarse" default="0.01"/>
    <arg name="xyz_noise_fine" default="0.0"/>
    <arg name="rpy_noise_fine" default="0.0"/>
    <arg name="pub_hz" default="10"/>
    <arg name="pub_topic_coarse" default="/gripper_coarse_pepper_array"/>
    <arg name="pub_topic_fine" default="/gripper_fine_pepper_array"/>

    <node pkg="sim_fake_perception" type="fake_pose_est_publisher.py" name="fake_pose_est_publisher" output="screen">
        <param name="sim_pepper_pose" value="$(arg sim_pepper_pose)" />
        <param name="xyz_noise_coarse" value="$(arg xyz_noise_coarse)" />
        <param name="xyz_noise_fine" value="$(arg xyz_noise_fine)" />
        <param name="rpy_noise_fine" value="$(arg rpy_noise_fine)" />
        <param name="pub_hz" value="$(arg pub_hz)" />
        <param name="fruit_shape" value="$(arg fruit_shape)" />
        <param name="peduncle_shape" value="$(arg peduncle_shape)" />
        <param name="pub_topic_coarse" value="$(arg pub_topic_coarse)" />
        <param name="pub_topic_fine" value="$(arg pub_topic_fine)" />
    </node>
</launch>