<launch>
  <arg name="paused" default="false" doc="Starts gazebo in paused mode" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find sim_pepper)/worlds/ex1.world"/>
    <arg name="paused" value="$(arg paused)"/>
  </include>
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find sim_pepper)/urdf/pepper.urdf -urdf -model gazebo_model_name -x 0 -y 0 -z 1. "
    output="screen" />
  <!-- <node name="sim_pepper" pkg="sim_pepper" type="SimulatedPepper.py" output="screen"/> -->
  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />
</launch>