<launch>
  <arg name="paused" default="false" doc="Starts gazebo in paused mode" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find detachable_pepper_plugin_classic)/worlds/ex1.world"/>
    <arg name="paused" value="$(arg paused)"/>
  </include>
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find detachable_pepper_plugin_classic)/urdf/sphere.urdf -urdf -model sphere -x 0 -y 0 -z 1. "
    output="screen" />
  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />
</launch>